@import url(estilos/principal.css);
@import url(estilos/jogos.css);


:root {
    --cor-de-fundo: #181039;
    --cor-de-fundo2: #281c38;
    --cor-de-fundo-hover: #ddd;
    --branco: White;
}