@import url(estilos/principal.css);
@import url(estilos/jogos.css);


:root {
    --cor-de-fundo: #181039;
    --cor-de-fundo2: #281c38;
    --cor-de-fundo-hover: #ddd;
    --branco: White;
    --laranja: #EB9B00;
    --azul-degrade: linear-gradient(97.54deg, #002f52 35.49%, #326589 165.37%);
    --fonte-principal: "Poppins";
    --azul: #002F52;
    --fonte-secundario: "Josefin Sans";
    --preto: #000000;
    --cinza: #474646;
    --cinza-claro: #858585;
}